[submodule "laravel"]
	path = laravel
	url = https://github.com/Kasparsu/vueapi-back.git
	branch = master
[submodule "front"]
	path = front
	url = https://github.com/Kasparsu/vueapi-front.git
	branch = master
